# Tekton Enhancement Proposals (TEPs)

See the [TEP process](../process/tep-process.md) for information on TEPs and how to create and merge them.

This is the complete list of Tekton TEPs:

| TEP  | Title  | Status   | Last Updated  |
|------|--------|----------|---------------|
{{#teps}}
|[{{number}}]({{link}}) | {{title}} | {{status}} | {{lastupdated}} |
{{/teps}}
