# Tekton Enhancement Proposals (TEPs)

A Tekton Enhancement Proposal (TEP) is a way to propose, communicate
and coordinate on new efforts for the Tekton project.  You can read
the full details of the project in
[TEP-1](0001-tekton-enhancement-proposal-process.md).

## What is a TEP

A standardized development process for Tekton is proposed in order to

- provide a common structure and clear checkpoints for proposing
  changes to Tekton
- ensure that the motivation for a change is clear
- allow for the enumeration stability milestones and stability
  graduation criteria
- persist project information in a Version Control System (VCS) for
  future Tekton users and contributors
- support the creation of _high value user facing_ information such
  as:
  - an overall project development roadmap
  - motivation for impactful user facing changes
- ensure community participants are successfully able to drive changes
  to completion across one or more releases while stakeholders are
  adequately represented throughout the process

This process is supported by a unit of work called a Tekton
Enhancement Proposal (TEP). A TEP attempts to combine aspects of the
following:

- feature, and effort tracking document
- a product requirements document
- design document

into one file which is created incrementally in collaboration with one
or more [Working
Groups](https://github.com/tektoncd/community/blob/main/working-groups.md)
(WGs).

This process does not block authors from doing early design docs using
any means. It does not block authors from sharing those design docs
with the community (during Working groups, on Slack, GitHub, ….

**This process acts as a requirement when a design docs is ready to be
implemented or integrated in the `tektoncd` projects**. In other words,
a change that impact other `tektoncd` projects or users cannot be
merged if there is no `TEP` associated with it.

This TEP process is related to

- the generation of an architectural roadmap
- the fact that the what constitutes a feature is still undefined
- issue management
- the difference between an accepted design and a proposal
- the organization of design proposals

This proposal attempts to place these concerns within a general
framework.

See [TEP-1](0001-tekton-enhancement-proposal-process.md) for more
details.

The TEP `OWNERS` are the **main** owners of the following projects:

- [`pipeline`](https://github.com/tektoncd/pipeline)
- [`cli`](https://github.com/tektoncd/cli)
- [`triggers`](https://github.com/tektoncd/triggers)
- [`dashboard`](https://github.com/tektoncd/dashboard)
- [`catalog`](https://github.com/tektoncd/catalog)
- [`hub`](https://github.com/tektoncd/hub)
- [`operator`](https://github.com/tektoncd/operator)

## Creating and Merging TEPs

To create a new TEP, use the [teps script](./tools/README.md):

```shell
$ ./teps/tools/teps.py new --title "The title of the TEP" --author nick1 --author nick2
```

The script will allocate a new valid TEP number, set the status
to "proposed" and set the start and last updated dates.

**Note that the picked number is not "locked" until a PR is created.
The PR title shall be in the format `TEP-XXXX: <tep-title>`**.

The initial content of the TEP should include the high level
description and use cases, but no design. This helps for the TEP
to be approved quickly.

TEP should be merged as soon as possible in the `proposed` state. As
soon as a general consensus is reached that the TEP, as described
make sense to pursue, the TEP can be merged.
The authors can then add the design and update the missing part in follow-up pull requests which moves the TEP to `implementable`.

TEP should be approved by ***at least two owners*** from different
company. This should prevent a company to *force push* a TEP (and
thus a feature) in the tektoncd projects.

### TEP Review SLOs

1. After a TEP PR has been created, in
   [the next API working group meeting](https://github.com/tektoncd/community/blob/main/working-groups.md#api),
   we will try to find 2 qualified assignees to review (from 2 different companies as described above) and will
   [assign](https://docs.github.com/en/github/managing-your-work-on-github/assigning-issues-and-pull-requests-to-other-github-users)
   them to the PR.
   * If we cannot find 2 reviewers in the meeting, someone in the meeting will be take the action to find reviewers
     offline (e.g. over [slack](https://github.com/tektoncd/community/blob/main/contact.md#slack) or
     [tekton-dev](https://github.com/tektoncd/community/blob/main/contact.md#mailing-list)).
2. Once reviewers have been assigned, they should give initial feedback on the PR by
   [the next API working group meeting](https://github.com/tektoncd/community/blob/main/working-groups.md#api)
   at the latest.

_Why don't we use GitHub reviewers instead of assignees? If we want to do that we need to turn off Prow's auto
assignment of reviewers; there is no guarantee the auto assigned reviewers are the appropriate reviewers.
See [discussion](https://github.com/tektoncd/community/discussions/362)._

### Solving TEP number conflicts

The TEP PR might fail CI if a TEP number conflict is detected, or if
there is a merge conflict in the TEP table. In case that happens, use
the `teps.py renumber` command to refresh your PR:

```
./teps.py renumber --update-table <path-to-tep-file>
```

The command will update the TEP in the file name and content with a new
available TEP number, it will refresh the TEPs table and it will present
a list of git commands that can be used to update the commit.

## TEPs

This is the complete list of Tekton teps:

| TEP  | Title  | Status   | Last Updated  |
|------|--------|----------|---------------|
{{#teps}}
|[{{number}}]({{link}}) | {{title}} | {{status}} | {{lastupdated}} |
{{/teps}}
